<div class="footer-top"></div>
<mat-toolbar color="primary">
  <div fxLayoutAlign="center center" fxFlex="100%">
    <div fxFlex="80%" fxFlex.lt-sm="100%" fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="40px">
      <div>
        <p>Start a Walk</p>
      </div>
      <div class="footer-icons" fxLayout="row" fxLayoutGap="40px">
        <span class="footer-fb"></span>
        <span class="footer-twitter"></span>
        <span><mat-icon>email</mat-icon></span>
      </div>
    </div>
  </div>
</mat-toolbar>
