<div class="container" fxLayoutAlign="center start">
  <div
    class="child-container"
    fxFlex="80%"
    fxFlex.lt-sm="100%"
    fxLayoutAlign="start"
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
  >
    <div>
      <h1>Welcome to What the Dickens App</h1>
      <p>
        Sed velit lectus, porttitor eu convallis sit amet, semper eget mauris. Integer in pulvinar mauris. Donec
        facilisis placerat magna sed cursus. Mauris vel tristique arcu. Duis congue orci id libero dictum sollicitudin.
        Curabitur dapibus arcu leo, condimentum tempus augue condimentum sed. Aliquam sed auctor ex. Nunc quis neque non
        eros dictum scelerisque ut ac urna. Etiam vel felis molestie, malesuada neque tempus, bibendum mauris. Nullam
        sit amet rhoncus nisl. Quisque non vehicula dui. Vestibulum neque tortor, placerat sit amet condimentum euismod,
        suscipit lobortis diam. Sed varius elit non erat dignissim vulputate.
      </p>

      <div class="home-button-area" fxLayoutAlign="center">
        <button mat-button *ngIf="isDay">It's a good time for a walk</button>
        <button class="home-button" mat-button *ngIf="!isDay">
          It's a good time for an evening stroll
        </button>
      </div>
    </div>
  </div>
</div>
