<div class="container" fxLayoutAlign="center start">
  <div
    class="child-container"
    fxFlex="80%"
    fxFlex.lt-sm="100%"
    fxLayoutAlign="start"
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayout.lt-md="column"
  >
    <div>
      <div class="assigned-character" *ngIf="assignedCharacter">
        Your character is
        {{ assignedCharacter.first + ' ' + assignedCharacter.last + ' from ' + assignedCharacter.book }}
        <button (click)="getRandomCharacter()">CHANGE</button>
      </div>
      <google-map height="550px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
        <map-marker
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
        >
        </map-marker>
      </google-map>
      <div class="filter">
        <mat-label>Filter walk distance: </mat-label>
        <mat-radio-group class="filter-radio-group" [(ngModel)]="filter" (change)="updateRoute()">
          <mat-radio-button class="filter-radio-button" *ngFor="let filter of filters" [value]="filter.value">{{
            filter.name
          }}</mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-button (click)="startWalk()">START WALK</button>
    </div>
  </div>
</div>
