.content {
  flex: 1;
}

.container {
  background: rgba(176, 175, 80, 0.3);
  background-image: url('../assets/images/AdobeStock_3_Preview.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-blend-mode: color-dodge;
  min-height: 100vh;
}
