.content {
  flex: 1;
}

.container {
  background: white;
  background-image: url('../assets/images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
