/* You can add global styles to this file, and also import other style files */
@import './custom-theme';
body {
  color: #333333;
}

.h1,
.h2 {
  font-weight: lighter;
}

.submit-button {
  float: right;
  padding-left: 20px;
}
